<div
  class="z-0 h-screen snap-y snap-mandatory overflow-y-scroll text-white scrollbar overflow-x-hidden scrollbar-track-gray-400/20 scrollbar-thumb-[#0000B9]/80"
>
  <section id="hero" class="snap-start">
    <div
      class="flex h-screen flex-row items-center justify-center space-x-8 overflow-hidden text-center"
    >
      <div class="flex flex-col text-[#FFFFFF]">
        <h1 class="text-7xl tracking-wider">Fake Store API</h1>

        <p>
          Fake store rest API for your e-commerce or shopping website prototype.
        </p>

        <button
          class="w-1/4 mt-5 px-4 py-2 border border-[#8896A6] rounded hover:bg-[#8896A6] hover:border[#FFFFFF] transition-all duration-300 ease-in-out"
        >
          View Docs
        </button>
      </div>

      <div>
        <img class="img-responsive w-60" src="assets/api.png" />
      </div>
    </div>
  </section>

  <section id="products" class="snap-center">
    <div
      class="relative mx-auto flex h-screen max-w-7xl flex-col items-center justify-center space-y-5 px-10 text-center md:flex-col md:text-left"
    >
      <h1 class="text-3xl text-white">Get All Products</h1>
      <p class="text-sm bg-black p-4 text-white rounded">
        <code>[GET] https://api.escuelajs.co/api/v1/products</code>
      </p>
      <div
        class="flex w-full snap-x snap-mandatory space-x-5 overflow-x-scroll p-10 scrollbar scrollbar-track-gray-400/20 scrollbar-thumb-[#0000B9]/80"
      >
        <div class="snap-center ...">
          <div class="w-60 h-60 bg-gray-300 rounded">Card</div>
        </div>
        <div class="snap-center ...">
          <div class="w-60 h-60 bg-gray-300 rounded">Card</div>
        </div>
        <div class="snap-center ...">
          <div class="w-60 h-60 bg-gray-300 rounded">Card</div>
        </div>
        <div class="snap-center ...">
          <div class="w-60 h-60 bg-gray-300 rounded">Card</div>
        </div>
        <div class="snap-center ...">
          <div class="w-60 h-60 bg-gray-300 rounded">Card</div>
        </div>
        <div class="snap-center ...">
          <div class="w-60 h-60 bg-gray-300 rounded">Card</div>
        </div>
      </div>
    </div>
  </section>

  <section id="categories" class="snap-center">
    <div
      class="relative mx-auto flex h-screen max-w-7xl flex-col items-center justify-evenly px-10 text-center md:flex-row md:text-left"
    >
      <h1 class="text-3xl text-white">Get All Categories</h1>
      <p class="text-sm bg-black p-4 text-white rounded">
        <code>[GET] https://api.escuelajs.co/api/v1/products</code>
      </p>
    </div>
  </section>

  <footer class="sticky bottom-5 w-full cursor-pointer">
    <div class="flex items-center justify-center">MDev</div>
  </footer>
</div>
