<header
  class="sticky top-0 z-20 mx-auto flex max-w-7xl items-start justify-between p-5 xl:items-center"
>
  <div class="flex flex-row items-center">
    <a
      class="text-gray-400 cursor-pointer"
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >MDev</a
    >
  </div>

  <div class="flex cursor-pointer flex-row items-center text-gray-400">
    <p class="hidden text-sm uppercase text-gray-400 md:inline-flex">
      Get In Touch
    </p>
  </div>
</header>
<router-outlet></router-outlet>
<footer class="sticky bottom-5 w-full cursor-pointer">
  <div class="flex items-center justify-center text-gray-400">MDev</div>
</footer>
