@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --main-family: "Roboto", sans-serif;
  --color-bg: #15202b;
}

html {
  background: var(--color-bg);
  font-family: var(--main-family);
  min-height: 100%;
}

body {
  margin: 0;
}
